
	<div class="place_ad">
		<a href="#" class="search-banner-wrap">
			<img src="../../assets/images/search-ad.png" alt="Our Gambia Ads">
		</a>

		<div class="place_ad-headline">
			<h2>Please add Job information</h2>
		</div>

		<div class="add_listing">
			<form #form="ngForm">

				<div class="form-group">
					<input required minlength="3" maxlength="40" pattern="[a-zA-Z0-9]+" ngModel type="text" name="companyName" placeholder="Company Name" #companyName="ngModel" >
					<div class="alert alert-danger" *ngIf="companyName.touched && !companyName.valid">
						<div *ngIf="companyName.errors.required">Company Name is required.</div>
						<div *ngIf="companyName.errors.minlength">Company Name should be more than 3 characters.</div>
						<div *ngIf="companyName.errors.pattern">Please provide a valid Company Name.</div>
					</div>
				</div>

				<input type="file" name="companyLogo" ngModel>

				<div class="form-group">
					<input required minlength="3" maxlength="40" pattern="[a-zA-Z0-9]+" ngModel type="text" name="companyLocation" placeholder="Company Location" #companyLocation="ngModel">
					<div class="alert alert-danger" *ngIf="companyLocation.touched && !companyLocation.valid">
						<div *ngIf="companyLocation.errors.required">Company Address is required.</div>
						<div *ngIf="companyLocation.errors.minlength">Company Address should be more than 3 characters.</div>
						<div *ngIf="companyLocation.errors.pattern">Please provide a valid Company Address.</div>
					</div>
				</div>

				<div class="form-group">
					<input required minlength="3" maxlength="40" pattern="[a-zA-Z0-9]+" ngModel type="text" name="jobTitle" placeholder="Job Title e.g. Web Developer" #jobTitle="ngModel" >
					<div class="alert alert-danger" *ngIf="jobTitle.touched && !jobTitle.valid">
						<div *ngIf="jobTitle.errors.required">Job Title is required.</div>
						<div *ngIf="jobTitle.errors.minlength">Job Title should be more than 3 characters.</div>
						<div *ngIf="jobTitle.errors.pattern">Please provide a valid Job Title.</div>
					</div>
				</div>

				<input type="text" name="listing_date" placeholder="Date" ngModel>

				<select name="listing_min_qualification" ngModel>
					<option>Minimum Qualification</option>
					<option name="junior-school">Junior School</option>
					<option name="high-school">High School</option>
					<option name="tertiary-education">Tertiary Education</option>
					<option name="bachelors-degree">Bachelors Degree</option>
					<option name="masters-degree">Masters Degree</option>
					<option name="doctorate-degree">Doctors Degree</option>
					<option name="phd">PHD</option>
				</select>

				<select name="listing_min_experience" ngModel>
					<option>Minimum Experience</option>
					<option name="six-months">6 Months</option>
					<option name="one-year">1 Year</option>
					<option name="one-year-six-months">1 Year 6 Months</option>
					<option name="two-years">2 Years</option>
					<option name="two-years-six-months">2 Years 6 Months</option>
					<option name="three-years">3 Year</option>
				</select>

				<select name="listing_length_of_appointment" ngModel>
					<option>Length of Appointment</option>
					<option name="six-months">6 Months</option>
					<option name="one-year">1 Year</option>
					<option name="one-year-six-months">1 Year 6 Months</option>
					<option name="two-years">2 Years</option>
					<option name="two-years-six-months">2 Years 6 Months</option>
					<option name="three-years">3 Year</option>
					<option name="permanent">Permanent</option>
				</select>

				<select name="listing_probation_period" ngModel>
					<option>Probation Period</option>
					<option name="six-months">6 Months</option>
					<option name="one-year">1 Year</option>
					<option name="one-year-six-months">1 Year 6 Months</option>
					<option name="two-years">2 Years</option>
					<option name="two-years-six-months">2 Years 6 Months</option>
					<option name="three-years">3 Year</option>
					<option name="permanent">None</option>
				</select>
				
				<textarea id="summernote" cols="10" rows="5" name="responsility" placeholder="Responsibility" ngModel></textarea>
				<textarea id="summernote" cols="10" rows="5" name="introduction" placeholder="Introduction" ngModel></textarea>
				<textarea id="summernote" cols="10" rows="5" name="purpose_of_job" placeholder="Purpose of the Job" ngModel></textarea>
				<textarea id="summernote" cols="10" rows="5" name="key_responsibilities" placeholder="Key Responsibilities" ngModel></textarea>

				<div class="add-option">
					<a href="#" class="add--self-sell">
						<div>Place the add for 2 Weeks</div>
						<div>D2,000</div>
					</a>
					<a href="#" class="add--ourgambia-sell">
						<div>Place the add for 4 Weeks</div>
						<div>D3,500</div>
					</a>
				</div>

				<button class="btn" type="submit">Submit</button>
			</form>
		</div>
	</div>

