  <header>
    <div class="top-header">
      <a routerLink="index" class="logo"><img src="../assets/images/logo.png" alt="Logo"></a>

      <ul class="menu">
        <li class="menu-item"><a routerLink="jobs">Find Jobs</a></li>
        <li class="menu-item"><a href="#">Find Resumes</a></li>
        <li class="menu-item"><a href="#">Forum</a></li>
        <li class="menu-item"><a href="#">Help</a></li>
      </ul>

      <a routerLink="login" class="btn add-profile">Post a Job</a>
    </div>
  </header>

<router-outlet></router-outlet>