
	<div class="job-categories" style="background-image: url(../../assets/images/banner.jpg);">
		<h2>Search for a Job</h2>
		<div class="job-search">
			<form action="#" method="GET">
				<input type="text" name="search_job" placeholder="Search...">
				<a href="#" class="btn">Search</a>
			</form>
		</div>

		<h2>Job Categories</h2>

		<span>
			<a href="#">Customer Service</a>
			<a href="#">Part Time</a>
			<a href="#">IT</a>
			<a href="#">Graphic Design</a>
			<a href="#">Finance</a>
			<a href="#">Driver</a>
			<a href="#">Sales</a>
			<a href="#">Accounting</a>
			<a href="#">Insurance</a>
			<a href="#">Retail</a>
			<a href="#">Call Center</a>
			<a href="#">Construction</a>
			<a href="#">Mechanic</a>
			<a href="#">Nurse</a>
			<a href="#">Software Developer</a>
			<a href="#">Teller</a>
			<a href="#">Healthcare</a>
			<a href="#">Hospitality</a>
			<a href="#">Agriculture</a>
			<a href="#">Education</a>
		</span>
	</div>

	
	<div class="job-content">
		<div class="job-list">
			<h2 class="recent-jobs">Recent jobs..</h2>
			<a routerLink="../single-job" class="job-card">
				<div class="job-company-logo"><img src="../../assets/images/music.png" alt="Company Logo"></div>
				<div class="job-card--meta">
					<h2 class="job-card--headline">Marketing Associate</h2>
					<div>
						<span><i class="fa fa-suitcase" aria-hidden="true"></i> Quest Digital Advertising Agency</span>
						<span><i class="fa fa-map" aria-hidden="true"></i> 20 Kairaba Avenue</span>
						<span><i class="fas fa-clock"></i> 05-02-18</span>
					</div>
					<div class="job-card--desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</a>

			<a routerLink="../single-job" class="job-card">
				<div class="job-company-logo"><img src="../../assets/images/quest.png" alt="Company Logo"></div>
				<div class="job-card--meta">
					<h2 class="job-card--headline">Marketing Associate</h2>
					<div>
						<span><i class="fa fa-suitcase" aria-hidden="true"></i> Quest Digital Advertising Agency</span>
						<span><i class="fa fa-map" aria-hidden="true"></i> 20 Kairaba Avenue</span>
						<span><i class="fas fa-clock"></i> 12-02-18</span>
					</div>
					<div class="job-card--desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</a>

			<a routerLink="../single-job" class="job-card">
				<div class="job-company-logo"><img src="../../assets/images/logo.png" alt="Company Logo"></div>
				<div class="job-card--meta">
					<h2 class="job-card--headline">Human Resources Assistant</h2>
					<div>
						<span><i class="fa fa-suitcase" aria-hidden="true"></i> International Organization for Migration</span>
						<span><i class="fa fa-map" aria-hidden="true"></i> Kairaba Avenue</span>
						<span><i class="fas fa-clock"></i> 18-02-18</span>
					</div>
					<div class="job-card--desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</a>

			<a routerLink="../single-job" class="job-card">
				<div class="job-company-logo"><img src="../../assets/images/logo.png" alt="Company Logo"></div>
				<div class="job-card--meta">
					<h2 class="job-card--headline">Marketing Associate</h2>
					<div>
						<span><i class="fa fa-suitcase" aria-hidden="true"></i> Quest Digital Advertising Agency</span>
						<span><i class="fa fa-map" aria-hidden="true"></i> 20 Kairaba Avenue</span>
						<span><i class="fas fa-clock"></i> 22-02-18</span>
					</div>
					<div class="job-card--desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</a>


			<div class="view-all-jobs">
				<a href="#" class="btn-white">View all jobs</a>
			</div>
		</div>

		<div class="job-content--sidebar">
			
			<div class="og-sidebar-ad job-mobile-app-ad">
				<h2>Our Gambia: Jobs</h2>
				<p>Search for a Job on the Go!</p>
				<p>Find your dream job with your favorite device.</p>

				<div class="apps-group">
					<a href="#" class="android-app"><img src="../../assets/images/ios-app.png" alt="Our Gambia ios app"></a>
					<a href="#" class="ios-app"><img src="../../assets/images/android-app.png" alt="Our Gambia android app"></a>
				</div>
			</div>

			<div class="og-sidebar-ad og-sidebar-categories">
				<h2>Job Categories</h2>
				<a href="#">Customer Service</a>
				<a href="#">Part Time</a>
				<a href="#">IT</a>
				<a href="#">Graphic Design</a>
				<a href="#">Finance</a>
				<a href="#">Driver</a>
				<a href="#">Sales</a>
				<a href="#">Accounting</a>
				<a href="#">Insurance</a>
				<a href="#">Mechanic</a>
				<a href="#">Nurse</a>
				<a href="#">Software Developer</a>
				<a href="#">Teller</a>
			</div>
			
			<div class="og-sidebar-ad job-shop-ad">
				<a href="#"><img src="../../assets/images/ourgambia.png" alt="Our Gambia Online Shopping"></a>
			</div>

		</div>
	</div>
