

	<a href="#" class="search-banner-wrap">
		<img src="../../assets/images/search-ad.png" alt="Our Gambia Ads">
	</a>

	<div class="job-content">
		<div class="job-list">
			<div class="single-job">
				<div class="job-company-logo">
					<img src="../../assets/images/quest.png" alt="Quest Logo">

					<div>Minimum Qualification: <span>Bachelors Degree</span></div>
					<div>Minimum Experience: <span>2 Years</span></div>
					<div>Length of Appointment: <span>3 Years</span></div>
					<div>Probation Period: <span>6 Months</span></div>
				</div>

				<div class="job-card--meta">
					<h2 class="job-card--headline"><span>Job Title: </span>Marketing Associate</h2>
					<div>
						<span><i class="fa fa-suitcase" aria-hidden="true"></i> Quest Digital Advertising Agency</span>
						<span><i class="fa fa-map" aria-hidden="true"></i> 20 Kairaba Avenue</span>
						<span><i class="fas fa-clock"></i> 15,000</span>
					</div>
					<div class="job-card--responsibility">
						<h2>Responsibility</h2>
						The post holder is responsible for the maintenance of our website as well as producing high quality audio and video material for the MRC Unit The Gambia.  
					</div>
					<div class="job-card--desc">
						<h2>Introduction</h2>
						The Communications Department of MRC Unit The Gambia (MRCG) provides supports and promotes the achievements of The Unit.  Communications is a core activity of MRCG and essential. The department’s main role is to generate public awareness of MRCG’s research, share outcomes and knowledge using a range of communications products, and encourage public engagement and dialogue through variety of communication channels. To support these important objectives, qualified individuals are encouraged to apply to this vacancy. 
					</div>
					<div class="job-card--purpose">
						<h2>Purpose of the Job</h2>
						The post holder will be expected to maintain our website as well as complete a range of multimedia tasks to support the Communications Department and The Unit’s mission and vision.
					</div>
					<div class="job-card--key-responsibility">
						<h2>Key Responsibilities</h2>
						The post-holder will be responsible for accomplishing the following:
						<ul>
							<li>Produce audio and video content for our channels, such as the website as well as specific project requests. </li>
							<li>Film and edit footage from interviews, conferences and events.</li>
							<li>Write scripts. </li>
							<li>Support the development of content for all of our communication channels.</li>
							<li>Translate our research outputs into audio and visual content. </li>
							<li>Photography and maintain our media library.</li>
							<li>Supports the development of radio and TV programs.</li>
							<li>Strong skills in Final Cut Pro X or another video editing software. </li>
							<li>Knowledge on how to use Photoshop and Illustrator.</li>
							<li>Manage multiple projects simultaneously.</li>
							<li>Able to complete assignments on time, occasionally within tight timelines and work collaboratively with others.</li>
						</ul>
					</div>
				</div>

				<div class="apply-job-btn">
					<a href="#" class="btn">Apply Now</a>	
				</div>

				<div class="jobs-cta">
					<div class="jobs-cta--wrap">
						Share this job:
						<a href="#">
							<i class="fab fa-facebook-square"></i>
						</a>

						<a href="#">
							<i class="fab fa-twitter-square"></i>
						</a>

						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="job-content--sidebar">
			
			<div class="og-sidebar-ad job-mobile-app-ad">
				<h2>Our Gambia: Jobs</h2>
				<p>Search for a Job on the Go!</p>
				<p>Find your dream job with your favorite device.</p>

				<div class="apps-group">
					<a href="#" class="android-app"><img src="../../assets/images/ios-app.png" alt="Our Gambia ios app"></a>
					<a href="#" class="ios-app"><img src="../../assets/images/android-app.png" alt="Our Gambia android app"></a>
				</div>
			</div>

			<div class="og-sidebar-ad job-shop-ad">
				<a href="#"><img src="../../assets/images/ourgambia.png" alt="Our Gambia Online Shopping"></a>
			</div>

			<div class="og-sidebar-ad og-sidebar-categories">
				<h2>Job Categories</h2>
				<a href="#">Customer Service</a>
				<a href="#">Part Time</a>
				<a href="#">IT</a>
				<a href="#">Graphic Design</a>
				<a href="#">Finance</a>
				<a href="#">Driver</a>
				<a href="#">Sales</a>
				<a href="#">Accounting</a>
				<a href="#">Insurance</a>
				<a href="#">Retail</a>
				<a href="#">Call Center</a>
				<a href="#">Construction</a>
				<a href="#">Mechanic</a>
				<a href="#">Nurse</a>
				<a href="#">Software Developer</a>
				<a href="#">Teller</a>
				<a href="#">Healthcare</a>
			</div>

		</div>
	</div>

	<div class="og-job--apps apps">
		<div class="apps-wrap">
			<div class="apps-cta">
				<div class="apps-cta--headline">Find a job on the go.</div>
				<div class="apps-cta--subheadline">Download the app now!</div>
			</div>

			<div class="apps-group">
				<a href="#" class="android-app"><img src="../../assets/images/ios-app.png" alt="Our Gambia ios app"></a>
				<a href="#" class="ios-app"><img src="../../assets/images/android-app.png" alt="Our Gambia android app"></a>
			</div>
		</div>
	</div>
