
	<h2 class="headline">OG Jobs: Create Account</h2>
	<div class="jobs-login">
		<div class="jobs-login--wrap">
			<form action="add.html" method="POST" class="jobs-login--form">
				<div class="jobs-login--input">
					<label>Full Name:</label>
					<input type="text" name="login-name">	
				</div>
				<div class="jobs-login--input">
					<label>Email:</label>
					<input type="email" name="login-name">	
				</div>
				<div class="jobs-login--input">
					<label>Password:</label>
					<input type="password" name="login-password">	
				</div>

				<button class="btn">Create Account</button>
			</form>

			<div class="jobs-login--link"><a routerLink="password-reset">Forgot Password?</a></div>
			<div class="jobs-login--link"><a routerLink="login">Log In</a></div>
		</div>	
	</div>

	<div id="social-footer">
	    <ul>
	        <li><a href="https://twitter.com/GambiaOur" target="_blank">
	            <span class="social-icon"><i class="fab fa-twitter-square"></i></span>
	            <div id="tw_followers" class="right">
	                <span class="name">Twitter</span>
	                <span class="counter">871</span>
	            </div>
	        </a></li>
	        <li><a href="https://www.facebook.com/ourgambiaofficial" target="_blank">
	            <span class="social-icon"><i class="fab fa-facebook-square"></i></span>
	            <div id="fb_followers" class="right">
	                <span class="name">Facebook</span>
	                <span class="counter">9,044</span>
	            </div>
	        </a></li>
	        <li><a href="https://plus.google.com/" target="_blank">
	            <span class="social-icon"><i class="fab fa-google-plus-square"></i></span>
	            <div id="gl_followers" class="right">
	                <span class="name">Google +</span>
	                <span class="counter">13,680</span>
	            </div>
	        </a></li>
	    </ul>
	</div>