
	<a href="#" class="search-banner-wrap">
		<img src="../../assets/images/search-ad.png" alt="Our Gambia Ads">
	</a>

	<div class="job-profile">
		<div class="job-profile--wrap">
			<h2 class="headline">Resume</h2>
			<div class="job-profile--personal">
				<div class="job-profile--image">
					<img src="../../assets/images/profile.jpg" alt="Profile Image">
				</div>
				<div class="job-profile--personal-info">
					<h2 class="job-profile--personal-title">Personal Information</h2>
					<div><span>First Name: </span> Buba </div>
					<div><span>Last Name: </span> Manjang </div>
					<div><span>Gender: </span> Male </div>
					<div><span>Marital Status: </span> Married </div>
					<div><span>Religion: </span> Muslim </div>
					<div><span>Nationality: </span> Gambian </div>
					<div><span>E-Mail: </span> buba@quest.gm </div>
					<div><span>Mobile Number: </span> +220 742 7992 </div>
					<div><span>Address: </span> Old Jeshwang </div>
					<div><span>Interest Area: </span> Information Technology </div>
				</div>
			</div>

			<div class="job-educational">
				<h2 class="job-education--title">Educational History</h2>
				<div class="job-educational--sch">
					<div class="job-educational--sch-header">
						<h3 class="job-educational--sch-name">University of The Gambia</h3>
						<div class="job-educational--sch-year">October 2017 - January 2020</div>
					</div>
					<li class="job-educational--cert">BSc. Computer Science</li>
				</div>

				<div class="job-educational--sch">
					<div class="job-educational--sch-header">
						<h3 class="job-educational--sch-name">Gambia Technical Training Institute</h3>
						<div class="job-educational--sch-year">Spetember 2012 - July 2013</div>
					</div>
					<li class="job-educational--cert">Certificate Computer Engineering</li>
				</div>

				<div class="job-educational--sch">
					<div class="job-educational--sch-header">
						<h3 class="job-educational--sch-name">West African International College, WAIC</h3>
						<div class="job-educational--sch-year">September 2008 - July 2009</div>
					</div>
					<li class="job-educational--cert">International General Certificate for Secondary Education, IGCSE</li>
				</div>

				<div class="job-educational--sch">
					<div class="job-educational--sch-header">
						<h3 class="job-educational--sch-name">Gambia Senior Secondary School</h3>
						<div class="job-educational--sch-year">September 2006 - July 2008</div>
					</div>
					<li class="job-educational--cert">West African Senior Secondary Certificate Examination, WASSCE</li>
				</div>

				<div class="job-educational--sch">
					<div class="job-educational--sch-header">
						<h3 class="job-educational--sch-name">Gambia Methodist Academy</h3>
						<div class="job-educational--sch-year">September 2015 - July 2016</div>
					</div>
					<li class="job-educational--cert">Transfered to another school</li>
				</div>
			</div>

			<div class="job-employment">
				<h2 class="job-employment--title">Employement History</h2>
				<div class="job-employment--employer">
					<div class="job-employment--employer-header">
						<h3 class="job-employment--employer-name">Google</h3>
						<div class="job-employment--year">October 2017 - January 2020</div>
					</div>
					<div class="job-employment--position">Senior Software Engineer</div>
					
					<div class="job-employment--duties"><span>Duties/roles:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="job-employment--reason-for-leaving"><span>Reasons for Leaving:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>

				<div class="job-employment--employer">
					<div class="job-employment--employer-header">
						<h3 class="job-employment--employer-name">Google</h3>
						<div class="job-employment--year">October 2017 - January 2020</div>
					</div>
					<div class="job-employment--position">Software Engineer</div>

					<div class="job-employment--duties"><span>Duties/roles:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="job-employment--reason-for-leaving"><span>Reasons for Leaving:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>

				<div class="job-employment--employer">
					<div class="job-employment--employer-header">
						<h3 class="job-employment--employer-name">Google</h3>
						<div class="job-employment--year">October 2017 - January 2020</div>
					</div>
					<div class="job-employment--position">Junior Software Engineer</div>
					<div class="job-employment--duties"><span>Duties/roles:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="job-employment--reason-for-leaving"><span>Reasons for Leaving:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>

			<div class="job-skills">
				<h3 class="job-skills-title">Skills</h3>
				<ul class="job-skills--wrap">
					<li class="job-skill">PhotoShop</li>
					<li class="job-skill">Swimming</li>
					<li class="job-skill">Handy</li>
					<li class="job-skill">Cat Walk</li>
				</ul>
			</div>

			<div class="job-hobbies">
				<h3 class="job-hobbies-title">Hobbies</h3>
				<ul class="job-hobbies--wrap">
					<li class="job-hobby">PhotoShop</li>
					<li class="job-hobby">Swimming</li>
					<li class="job-hobby">Handy</li>
					<li class="job-hobby">Cat Walk</li>
				</ul>
			</div>
		</div>
	</div>

